<div class="container text-center">
<h2><%= @cocktail.name%></h2>
<ul class="list-unstyled">
  <p>Liste des ingrédients</p>
    <% @cocktail.doses.each do |dose|%>
  <li>
  <%= dose.description %> de <%= dose.ingredient.name %>
  <%= link_to "delete", cocktail_dose_path(@cocktail.id, dose.id), method: :delete %>
  </li>
  <% end %>
</ul>

  <%= render "doses/form", cocktail: @cocktail %>
  <hr>

</div>
